<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.theopenbee.openbee</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{.ExePath}}</string>
    <string>server</string>
    <string>-c</string>
    <string>{{.ConfigPath}}</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{.WorkingDir}}</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>{{.LogPath}}</string>
  <key>StandardErrorPath</key>
  <string>{{.LogPath}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{.Home}}</string>
    <key>PATH</key>
    <string>{{.EnvPath}}</string>
  </dict>
</dict>
</plist>
